:host {
  display: block;
  border-radius: 16px;

  .container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: inherit;
    overflow: hidden;
  }

  .widget-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
    
    h3 {
      flex: 1;
      margin: 0;
    }

    cursor: move;
  }

  .settings-button {
    position: relative;
  }

  :host-context(.p-dragging) {
    opacity: 0.6;
  }
}
